{
  "extends": "@injectivelabs/eslint-config",
  "ignorePatterns": [
    "coverage/**",
    "node_modules/*.js"
  ],
  "overrides": [
    {
      "files": [
        "*.html"
      ],
      "rules": {
        "vue/comment-directive": "off"
      }
    }
  ]
}
